@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,400&display=swap');

@layer base {
  html {
    font-family: DM Sans, system-ui, sans-serif;
  }

  .support-ukraine-bg {
    background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #fff 100%
    );
    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
  }
}

body {
  background-color: #f6f6f6;
}

.active-nav-link {
  @apply bg-[#EAC645] px-4 py-2 rounded-[36px];
}

.burgerMenu {
  z-index: 50;
  width: 100vw;
  min-width: 335px;
  height: 100vh;
  background: linear-gradient(#4f2ee8 0%, #fff 130%);
  position: fixed;
  padding: 20px;
  transform: translateX(0vw);
  transition: transform 250ms ease-in-out;
  overflow-y: scroll;
}

.showBurger {
  display: block;
  position: absolute;
  width: 100%;
  height: calc(100vh - 78px);
  top: 78px;
  left: 0;
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #fff 100%
  );

  z-index: 10;
  align-items: center;
  transform: translateX(0vw);
}

.hideBurger {
  transform: translateX(100vw);
}
